
*.lock
*.ide
*.ide-shm
*.ide-wal
.vs/GetInfoPc/v15/.suo
GetInfoPc/bin/Debug/GetSerialNumber.pdb
GetInfoPc/bin/Debug/GetSerialNumber.exe.config
GetInfoPc/bin/Debug/GetSerialNumber.exe
GetInfoPc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GetInfoPc/obj/Debug/GetInfoPc.csproj.CoreCompileInputs.cache
GetInfoPc/obj/Debug/GetInfoPc.csprojAssemblyReference.cache
GetInfoPc/obj/Debug/GetSerialNumber.csproj.CoreCompileInputs.cache
GetInfoPc/obj/Debug/GetSerialNumber.csproj.FileListAbsolute.txt
GetInfoPc/obj/Debug/GetSerialNumber.csprojAssemblyReference.cache
GetInfoPc/obj/Debug/GetSerialNumber.exe
GetInfoPc/obj/Debug/GetSerialNumber.pdb
GetInfoPc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GetInfoPc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GetInfoPc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GetInfoPc/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
GetInfoPc/obj/Release/GetInfoPc.csproj.CoreCompileInputs.cache
GetInfoPc/obj/Release/GetInfoPc.csproj.FileListAbsolute.txt
GetInfoPc/obj/Release/GetInfoPc.csprojAssemblyReference.cache
GetInfoPc/obj/Release/GetInfoPc.exe
GetInfoPc/obj/Release/GetInfoPc.pdb
GetInfoPc/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GetInfoPc/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GetInfoPc/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
